<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>myservletUpload</display-name>
    <servlet-name>myservletUpload</servlet-name>
    <servlet-class>myservletUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myservletUpload</servlet-name>
    <url-pattern>/myservletUpload</url-pattern>
  </servlet-mapping>
  <display-name>greenpharmacyproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>uploadmyImages</display-name>
    <servlet-name>uploadmyImages</servlet-name>
    <servlet-class>servlets.uploadmyImages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadmyImages</servlet-name>
    <url-pattern>/uploadmyImages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addmyProduct</display-name>
    <servlet-name>addmyProduct</servlet-name>
    <servlet-class>addmyProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addmyProduct</servlet-name>
    <url-pattern>/addmyProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>files</display-name>
    <servlet-name>files</servlet-name>
    <servlet-class>files</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>files</servlet-name>
    <url-pattern>/files</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>blobServlet</display-name>
    <servlet-name>blobServlet</servlet-name>
    <servlet-class>project.blobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blobServlet</servlet-name>
    <url-pattern>/blobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>medicinesUpload</display-name>
    <servlet-name>medicinesUpload</servlet-name>
    <servlet-class>medicinesUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>medicinesUpload</servlet-name>
    <url-pattern>/medicinesUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewMedicine</display-name>
    <servlet-name>viewMedicine</servlet-name>
    <servlet-class>viewMedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewMedicine</servlet-name>
    <url-pattern>/viewMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddImage</display-name>
    <servlet-name>AddImage</servlet-name>
    <servlet-class>AddImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddImage</servlet-name>
    <url-pattern>/AddImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispIayservlet</display-name>
    <servlet-name>DispIayservlet</servlet-name>
    <servlet-class>DispIayservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispIayservlet</servlet-name>
    <url-pattern>/DispIayservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>booklab</display-name>
    <servlet-name>booklab</servlet-name>
    <servlet-class>booklab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>booklab</servlet-name>
    <url-pattern>/booklab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payment</display-name>
    <servlet-name>payment</servlet-name>
    <servlet-class>project.payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mypayment</display-name>
    <servlet-name>mypayment</servlet-name>
    <servlet-class>mypayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mypayment</servlet-name>
    <url-pattern>/mypayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadPrescription</display-name>
    <servlet-name>uploadPrescription</servlet-name>
    <servlet-class>uploadPrescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadPrescription</servlet-name>
    <url-pattern>/uploadPrescription</url-pattern>
  </servlet-mapping>
</web-app>